
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  border-bottom: solid gray 2px;
  padding: 30px;
  font-size: 80px;
  color: rgb(0, 150, 250);
}

ul {
  text-align: center;
}

#app {

}
