
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: linear-gradient(
      rgba(50, 50, 50, 0.77),
      rgba(50, 50, 50, 0.77)), url('../images/Pad-Thai.jpg') fixed;
  background-size: cover;
  text-align: center;
}


#header {
color: white;
}

.title {
  font-size: 80px;
}

#container-menu {
  background-color: rgba(250, 0, 0, 0.3);
  color: rgb(150, 150, 150);
}

.hours {
  color: white;
}
